################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/XRCultureWebApp/.vs
/XRCultureWebApp/XRCultureWebApp/obj
/XRCultureWebApp/XRCultureWebApp/bin
/XRCultureMiddleware/.vs/XRCultureMiddleware
/XRCultureMiddleware/XRCultureMiddleware/bin/Debug/net9.0
/XRCultureMiddleware/XRCultureMiddleware/obj
/XRCultureMiddleware/.vs/ProjectEvaluation
/XRCultureRegisterViewerTool/.vs/XRCultureRegisterViewerTool
/XRCultureRegisterViewerTool/XRCultureRegisterViewerTool/bin/Debug/net9.0-windows
/XRCultureRegisterViewerTool/XRCultureRegisterViewerTool/obj
