################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/XRCultureWebApp/.vs
/XRCultureWebApp/XRCultureWebApp/obj
/XRCultureWebApp/XRCultureWebApp/bin
/XRCultureMiddleware/.vs/XRCultureMiddleware
/XRCultureMiddleware/XRCultureMiddleware/bin/Debug/net9.0
/XRCultureMiddleware/XRCultureMiddleware/obj
/XRCultureMiddleware/.vs/ProjectEvaluation
/XRCultureRegisterViewerTool/.vs/XRCultureRegisterViewerTool
/XRCultureRegisterViewerTool/XRCultureRegisterViewerTool/bin/Debug/net9.0-windows
/XRCultureRegisterViewerTool/XRCultureRegisterViewerTool/obj
/XRCultureRegisterViewerTool/.vs/ProjectEvaluation
/MeshLabServer/.vs/MeshLabServer
/MeshLabServer/MeshLabServer/bin/Debug/net9.0
/MeshLabServer/MeshLabServer/obj
/XRCultureMiddleware/XRCultureMiddleware/bin/Release/net9.0
/MeshLabServer/.vs/ProjectEvaluation
/MeshLabServer/MeshLabServer/bin/Release/net9.0
/WASM/.vs/WASM/CopilotIndices/17.14.734.62261
/WASM/.vs
/XRCultureViewer/.vs/XRCultureViewer
/XRCultureViewer/XRCultureViewer/obj
/XRCultureViewer/XRCultureViewer/bin
/XRCultureViewer/XRCultureViewer/wwwroot/viewer/.vs/WASM/v16
/XRCultureViewer/XRCultureViewer/wwwroot/viewer/.vs/WASM/v17
/XRCultureViewer/XRCultureViewer/wwwroot/viewer/.vs
