@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1 class="display-4">Viewers</h1>

@{
    foreach (var viewerDescriptor in Model.GetViewers())
    {
        <div class="card mb-3">
            <h5 class="card-header">@viewerDescriptor.EndPoint</h5>
            <div class="card-body">
                <p class="card-text"><strong>Id:</strong> @viewerDescriptor.Id</p>
                <p class="card-text"><strong>Created:</strong> @viewerDescriptor.TimeStamp</p>
            </div>
        </div>
    }
}
